<% include ../partials/header %>

<div class="ui container main">
  <div class="ui grid" id="main">
    <div class="four wide column">
        <div class="ui blue vertical menu">
          <div class="item">
            <h4>PYC</h4>
          </div>
          <a href="#"class="active item">Info</a>
          <a href="#"class="ui item">Info</a>
          <a href="#"class="ui item">Info</a>
        </div>
      </div>
    <div class="ui ten wide column">
        <div class="ui fluid card">
          <div class="image">
            <img class="ui mini image" src="<%= park.image %>" alt="" />
          </div>
          <div class="content">
              <a href="#" class="header"><%= park.name %></a>
            <div class="description">
              <%= park.description %>
            </div>
          </div>
          <a href="/parks/<%= park._id %>/comments/new" class="ui fluid teal button">
            <i class="add icon"></i>
            Add New Comment
          </a>
          <div class="extra content">
            <% park.comments.forEach(function(comment){ %>
              <p>
                <div class="content">
                  <div class="right floated meta">14h</div>
                  <i class="user icon"></i><strong><%= comment.author %></strong>
                </div>
                <strong></strong><%= comment.text %>
                <div class="ui divider"></div>
              </p>
              <% }) %>
          </div>
      </div>
    </div>
  </div>
</div>

<% include ../partials/footer %>
